
body {
  background-image: url("/images/butterflyLove2.gif");
  background-size: 100%;
}
.post-container, .comments-container, .auth-container{
  background-color:white;
  margin-left: 20%;
  margin-right: 30%;
  opacity: 0.9;
  padding: 3%;
}

.banner{
  width: 47%;
  height:20%;
}

.title-image{
  float:left;
}

.notice{
  text-align: center;
  color:red;
  font-size: 20px;
}

.body, .title{
  font-family: monospace;
  display:inline-block;
  color:rgb(1, 42, 80);
  margin-top: 7%;
}

.navbar{
  font-family:sans-serif;
  background-color: white;
  /*border-style:outset;*/
  margin-left: 10%;
  position: fixed;
  /*float: right;*/
  /*display:inline-block;*/
  font-size: 15px;
  z-index: 1000;
}

.post-title a{
  color: black;
  /*font-size: 20px;*/
  text-decoration:none;
}

a{
  color: grey;
}
a:hover {
  color: pink;
}

.header{
  font-family: monospace;
  font-size: 20px;
  color:rgb(107, 11, 83)
}

.pagination{
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.post-title{
  /*margin-bottom: 5%;*/
  /*font-family:cursive;*/
  font-size: 15px;
  font-family:sans-serif;
}

.post-body-preview{
  /*font-family: monospace;*/
  border-bottom: 1px dashed;
  padding: 5%;
}

.footer{
  font-family: monospace;
  font-size: 10px;
  color:grey;
}

.comments{
  /*margin: 5%;*/
  border-collapse: collapse;
  font-family:sans-serif;
  font-size-adjust: auto;
}

.comments strong{
  background-color: beige;
  color:navy;
  opacity: 0.8;
}

/*.comments span{
font-size: 12px;
font-family: sans-serif;
color:brown;
}*/
.comments ul{
  list-style-image: url('/images/strawberry.png');
}

.post-title-text, .post-body-text{
  color:grey;
  font-family: monospace;
  font-size: 30px;
  margin-bottom: 5%;
  width:100%;
  background-color: rgba(164, 202, 241, 0.19);
}
.post-body-text{
  font-size: 12px;
}

textarea {
  resize: none;
}
