body {
  background-image: url("http://4.bp.blogspot.com/_JR1wtGyGotU/TVBw46_ZwAI/AAAAAAAACrg/QJx0sN3scP8/s1600/ButterflyLove2.gif");
  background-size: 106%;
}
.post-container, .comments-container{
  background-color:white;
  margin-left: 21%;
  margin-right: 25%;
  opacity: 0.9;
  padding: 3%;
}

.banner{
  width: 50%;
  height:20%;
}

.title-image{
  float:left;
}

.notice{
  text-align: center;
  color:red;
  font-size: 20px;
}

.body, .title{
  font-family: monospace;
  display:inline-block;
  color:rgb(1, 42, 80);
  margin-top: 7%;
}

.navbar{
  font-family:sans-serif;
  background-color: white;
  border-style:outset;
  position: fixed;
  display:inline-flex;
  font-size: 15px;
  z-index: 1000;
}

a{
  color: rgb(65, 64, 63);
  text-decoration: none;
}
a:hover {
  color: pink;
}

.menu{
  font-family: monospace;
  font-size: 20px;
  color:rgb(107, 11, 83)
}

.pagination{
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

.post-content{
  margin-bottom: 5%;
  /*font-family:monospace;*/
  font-size: 15px;
  font-family:sans-serif;
}

.date{
  font-family: monospace;
  font-size: 10px;
  color:grey;
}

.comments{
  /*margin: 5%;*/
  border-collapse: collapse;
  font-family:sans-serif;
  font-size-adjust: auto;
}

.comments strong{
  background-color: beige;
  color:navy;
  opacity: 0.8;
}

.comments span{
  font-size: 12px;
  font-family: sans-serif;
  color:brown;
}
.comments ul{
  list-style-image: url('http://orig02.deviantart.net/4057/f/2012/273/0/0/strawberry_bullet_point_by_nutellalicious-d5gf39r.png');
}

.post-title-text, .post-body-text{
  color:grey;
  font-family: monospace;
  font-size: 30px;
  margin-bottom: 5%;
  width:100%;
  background-color: rgba(164, 202, 241, 0.19);
}
.post-body-text{
  font-size: 12px;
}

textarea {
  resize: none;
}
