<div class="post-container">

<h1 class="title">ABOUT THIS BLOG</h1>
<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAb1AAAAJDE4M2I1MGMzLWQ4ZDUtNDA4OC04NzcyLTdiMTI0NWViYjdhYQ.jpg" />

<p>This blog belongs to <%=link_to @owner.full_name, user_path(@owner) %>.</p>

</div>
