<style>

.directory{
  text-align: center;
  font-size: 30px;
}

</style>

<h1 class="title">JENNIFER LI'S <br><br>AWESOME BLOG</h1>

<div class="directory">

  <%= link_to "Browse Posts", posts_path  %> 

</div>
