
.banner{
  width: 47%;
  height:20%;
}

@media screen and (min-width: 1243px) {
  body {
    background-image: url("/images/butterflyLove2.gif");
    background-size: 100%;
  }
  .post-container, .comments-container, .auth-container{
    background-color:white;
    margin-left: 20%;
    margin-right: 30%;
    opacity: 0.9;
  }
}

  .post-container, .comments-container, .auth-container{
    padding: 0 3% 3% 3%;
    /*margin-left: 3%;*/
    /*margin-right: 3%;*/
  }

img {
  display: block;
  margin: 0 auto;
}
.title-image{
  float:left;
}

.directory{
  text-align: center;
}

.post-title{
  /*font-family:cursive;*/
  font-size: 15px;
  font-family:sans-serif;
}
.post-title a{
  color: black;
  /*font-size: 20px;*/
  text-decoration:none;
}

.post-body-preview{
  /*font-family: monospace;*/
  border-bottom: 1px dashed;
  padding: 5%;
}
.footer{
  font-family: monospace;
  font-size: 10px;
  color:grey;
}
.comments ul{
  list-style-image: url('/images/strawberry.png');
}
textarea {
  resize: none;
}
.comments{
  /*margin: 5%;*/
  border-collapse: collapse;
  font-family:sans-serif;
  font-size-adjust: auto;
}

form{
  padding:10%;
}
